## IDE
/.idea/

## HIDDEN FILES
.svn
.svnignore
.DS_Store

## CERBOT
/.well-known/

## BINARIES
/bin/wp-cli.phar
/bin/composer.phar

## PACKAGES
### COMPOSER
/vendor/
/composer.lock
### NPM
/node_modules/
/package-lock.json
### YARN
/yarn.lock

## ENV
/.env.local
/.env.*.local

