## HIDDEN FILES
.DS_Store

## CERBOT
/.well-known/

## PACKAGE MANAGER
### COMPOSER
/vendor/
composer.lock
### NPM
/node_modules/
package-lock.json
### YARN
/.cache/
/.yarn/

## ENV
/.env
/.env.local
/.env.*.local

## APPLICATION
### Assets
/resources/assets/manifest.json
/public/assets
/public/manifest.json